# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ignore this
#server
/node_modules
package-lock.json
.env

#client
/client/node_modules
/client/package-lock.json
/client/build
